//------------------------------------------------------------------------------
//	UI button group
//
//
//	# Usage
//
//	```html
//	<div class="ui_button_group">
//	 <button>Button 1</button>
//	 <button>Button 2</button>
//	 <button>Button 3</button>
//	</div>
//	```
//------------------------------------------------------------------------------

.ui_button_group
{
	display: inline-flex;
	flex-direction: row;
	border-radius: var(--radius-sm);

	> button, a
	{
		display: inline-block;
		padding: var(--spacing-sm) var(--spacing-lg);
		cursor: pointer;
		transition: opacity 0.3s 0s ease-in-out;

		&:first-child
		{
			border-top-left-radius: var(--radius-sm);
			border-bottom-left-radius: var(--radius-sm);
		}

		&:last-child
		{
			border-top-right-radius: var(--radius-sm);
			border-bottom-right-radius: var(--radius-sm);
		}

		&:not(:last-child)
		{
			border-right: 1px solid var(--color-background-text);
		}
	}


	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	&.small
	{
		> button, a
		{
			font-size: var(--fs-sm);
			padding: var(--spacing-xs) var(--spacing-md);
		}
	}

	&.large
	{
		> button, a
		{
			font-size: var(--fs-lg);
			padding: var(--spacing-md) var(--spacing-xl);
		}
	}


	//--------------------------------------------------------------------------
	//	Vertical
	//--------------------------------------------------------------------------

	&.vertical
	{
		flex-direction: column;

		> button, a
		{
			&:first-child
			{
				border-bottom-left-radius: 0;
				border-top-left-radius: var(--radius-sm);
				border-top-right-radius: var(--radius-sm);
			}

			&:last-child
			{
				border-top-right-radius: 0;
				border-bottom-left-radius: var(--radius-sm);
				border-bottom-right-radius: var(--radius-sm);
			}

			&:not(:last-child)
			{
				border-right-width: 0;
				border-bottom: 1px solid var(--color-background-text);
			}
		}

		&.outlined
		{
			> button, a
			{
				&:not(:last-child)
				{
					border-right-width: 1px;
					border-bottom-width: 0;
				}
			}
		}
	}


	//--------------------------------------------------------------------------
	//	Colors and Styles
	//--------------------------------------------------------------------------

	&.primary
	{
		> button, a
		{
			background-color: var(--color-primary);
			color: var(--color-primary-text);

			&:not(:last-child)
			{
				border-color: var(--color-primary-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-primary);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-primary);
				border-color: var(--color-primary);
			}
		}
	}

	&.secondary
	{
		> button, a
		{
			background-color: var(--color-secondary);
			color: var(--color-secondary-text);

			&:not(:last-child)
			{
				border-color: var(--color-secondary-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-secondary);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-secondary);
				border-color: var(--color-secondary);
			}
		}
	}

	&.error
	{
		> button, a
		{
			background-color: var(--color-error);
			color: var(--color-error-text);

			&:not(:last-child)
			{
				border-color: var(--color-error-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-error);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-error);
				border-color: var(--color-error);
			}
		}
	}

	&.warning
	{
		> button, a
		{
			background-color: var(--color-warning);
			color: var(--color-warning-text);

			&:not(:last-child)
			{
				border-color: var(--color-warning-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-warning);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-warning);
				border-color: var(--color-warning);
			}
		}
	}

	&.info
	{
		> button, a
		{
			background-color: var(--color-info);
			color: var(--color-info-text);

			&:not(:last-child)
			{
				border-color: var(--color-info-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-info);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-info);
				border-color: var(--color-info);
			}
		}
	}

	&.success
	{
		> button, a
		{
			background-color: var(--color-success);
			color: var(--color-success-text);

			&:not(:last-child)
			{
				border-right-color: var(--color-success-dark);
			}
		}

		&.text
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-success);
			}
		}

		&.outlined
		{
			> button, a
			{
				background-color: transparent;
				color: var(--color-success);
				border-color: var(--color-success);
			}
		}
	}


	//--------------------------------------------------------------------------
	//	States
	//--------------------------------------------------------------------------

	> button, a
	{
		&:hover
		{
			opacity: var(--opacity-hover);
		}

		&:disabled
		{
			background-color: var(--color-disabled);
			color: var(--color-disabled-text);
			cursor: not-allowed;

			&:hover
			{
				opacity: var(--opacity-100);
			}
		}
	}

	&.text
	{
		> button, a
		{
			&:disabled
			{
				background-color: transparent;
				color: var(--color-disabled-text);
			}
		}
	}

	&.outlined
	{
		> button, a
		{
			border: 1px solid var(--color-background-text);

			&:disabled
			{
				color: var(--color-disabled-text);
				border: 1px solid var(--color-disabled-text);
			}

			&:not(:last-child)
			{
				border-right-width: 0px;
			}
		}
	}
}
