//------------------------------------------------------------------------------
//	UI heading
//------------------------------------------------------------------------------

.ui_heading
{
	font-size: var(--fs-md);

	&.h1
	{
		font-size: var(--fs-3xl);
	}

	&.h2
	{
		font-size: var(--fs-2xl);
	}

	&.h3
	{
		font-size: var(--fs-xl);
	}

	&.h4
	{
		font-size: var(--fs-lg);
	}

	&.h5
	{
		font-size: var(--fs-md);
	}

	&.h6
	{
		font-size: var(--fs-md);
	}
}
