//------------------------------------------------------------------------------
//	UI sidebar
//------------------------------------------------------------------------------

.ui_sidebar
{
	display: flex;
	height: auto;
	padding: var(--spacing-md);
	background-color: var(--color-surface);
	color: var(--color-surface-text);
	align-items: flex-start;

	.ui_sidebar_inner
	{
		position: sticky;
		top: var(--spacing-md);
		max-height: calc(100vh - var(--spacing-md) * 2);
		overflow: hidden auto;
	}
}
