//------------------------------------------------------------------------------
//	UI progress
//
//
//	# Usage
//
//	```html
//	<div class="ui_progress spin"></div>
//	```
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../variables/colors" as colors;

//------------------------------------------------------------------------------
//	Spinner
//------------------------------------------------------------------------------

.ui_progress.spin
{
	display: inline-block;
	width: var(--size-xl);
	height: var(--size-xl);
	border-radius: var(--radius-circle);
	border: 3px solid var(--color-border);
	border-top-color: var(--color-transparent);
	animation: progress_spin 0.8s infinite linear;


	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	&.small
	{
		width: var(--size-md);
		height: var(--size-md);
	}

	&.large
	{
		width: var(--size-2xl);
		height: var(--size-2xl);
	}


	//--------------------------------------------------------------------------
	//	Thickness
	//--------------------------------------------------------------------------

	&.thin
	{
		border-width: 2px;
	}

	&.thick
	{
		border-width: 4px;
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name}
		{
			border-color: var(--color-#{$color});
			border-top-color: var(--color-transparent);
		}
	}
}

@keyframes progress_spin
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}


//------------------------------------------------------------------------------
//	Linear
//------------------------------------------------------------------------------

.ui_progress.linear
{
	display: inline-block;
	width: 100%;
	height: var(--size-2xs);
	background-color: var(--color-border-light);
	position: relative;
	overflow: hidden;

	&:before
	{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 20%;
		height: 100%;
		background-color: var(--color-border-dark);
		animation: progress_linear 1.2s infinite linear;
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name}
		{
			background-color: var(--color-#{$color}-light);

			&:before
			{
				background-color: var(--color-#{$color}-dark);
			}
		}
	}
}

@keyframes progress_linear
{
	0%
	{
		left: -20%;
	}

	100%
	{
		left: 100%;
	}
}
