//------------------------------------------------------------------------------
//	UI Icon
//
//
//	# Usage
//
//	```html
//	<div class="ui_icon icon_plus"></div>
//	```
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../themes/index" as themes;
@use "../../variables/colors" as colors;
@use "../../variables/icons" as icons;

.ui_icon
{
	display: inline-block;
	width: var(--size-md);
	height: var(--size-md);
	background-color: var(--color-background-text);
	mask-size: contain;
	mask-position: center;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;


	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	&.small
	{
		width: var(--size-sm);
		height: var(--size-sm);
	}

	&.large
	{
		width: var(--size-lg);
		height: var(--size-lg);
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$general_colors
	{
		$class_name: string.str-replace($color, "-", "_");
		&.#{$class_name} { background-color: var(--color-#{$color}); }
	}

	@each $color in colors.$colors
	{
		$class_name: string.str-replace($color, "-", "_");
		&.#{$class_name} { background-color: var(--color-#{$color}); }
	}

	@each $color in themes.$theme_colors
	{
		$class_name: string.str-replace($color, "-", "_");
		&.#{$class_name} { background-color: var(--color-#{$color}); }
		&.#{$class_name}_text { background-color: var(--color-#{$color}-text); }
	}

	&.background
	{
		background-color: var(--color-background);
	}

	&.surface
	{
		background-color: var(--color-surface);
	}


	//--------------------------------------------------------------------------
	//	Icons
	//--------------------------------------------------------------------------

	@each $icon in icons.$icons
	{
		$class_name: string.str-replace($icon, "-", "_");

		&.icon_#{$class_name}
		{
			mask-image: var(--icon-svg-#{$icon});
			-webkit-mask-image: var(--icon-svg-#{$icon});
		}
	}


	//--------------------------------------------------------------------------
	//	Actions
	//--------------------------------------------------------------------------

	&.clickable
	{
		cursor: pointer;

		&:hover
		{
			opacity: var(--opacity-hover);
		}
	}
}
