@import "theme";


//------------------------------------------------------------------------------
//	Common button.
//------------------------------------------------------------------------------
.ui_button
{
	background-color: var(--color-panel);
	color: var(--color-text-primary);
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-weak);
	text-decoration: none;

	//	Color.
	&.primary
	{
		background-color: var(--color-primary);
		color: var(--color-primary-text);

		&_light
		{
			background-color: var(--color-primary-light);
			color: var(--color-primary-text);
		}
		&_dark
		{
			background-color: var(--color-primary-dark);
			color: var(--color-primary-text);
		}
	}
	&.secondary
	{
		background-color: var(--color-secondary);
		color: var(--color-secondary-text);

		&_light
		{
			background-color: var(--color-secondary-light);
			color: var(--color-secondary-text);
		}
		&_dark
		{
			background-color: var(--color-secondary-dark);
			color: var(--color-secondary-text);
		}
	}
	&.error
	{
		background-color: var(--color-error);
		color: var(--color-error-text);

		&_light
		{
			background-color: var(--color-error-light);
			color: var(--color-error-text);
		}
		&_dark
		{
			background-color: var(--color-error-dark);
			color: var(--color-error-text);
		}
	}
	&.warn
	{
		background-color: var(--color-warn);
		color: var(--color-warn-text);

		&_light
		{
			background-color: var(--color-warn-light);
			color: var(--color-warn-text);
		}
		&_dark
		{
			background-color: var(--color-warn-dark);
			color: var(--color-warn-text);
		}
	}
	&.info
	{
		background-color: var(--color-info);
		color: var(--color-info-text);

		&_light
		{
			background-color: var(--color-info-light);
			color: var(--color-info-text);
		}
		&_dark
		{
			background-color: var(--color-info-dark);
			color: var(--color-info-text);
		}
	}
	&.success
	{
		background-color: var(--color-success);
		color: var(--color-success-text);

		&_light
		{
			background-color: var(--color-success-light);
			color: var(--color-success-text);
		}
		&_dark
		{
			background-color: var(--color-success-dark);
			color: var(--color-success-text);
		}
	}

	&:hover
	{
		opacity: 0.8;
	}

	&.disabled,
	&:disabled
	{
		background-color: var(--color-gray-500);
		color: var(--color-text-disabled);
		cursor: not-allowed;
	}
}


//------------------------------------------------------------------------------
//	Common icon.
//------------------------------------------------------------------------------
.ui_icon
{
	height: var(--fs-lg);
	width: var(--fs-lg);
	fill: var(--color-text-primary);

	&.clickable
	{
		cursor: pointer;
	}

	//	Size.
	&.icon_xs
	{
		height: var(--fs-xs);
		width: var(--fs-xs);
	}
	&.icon_sm
	{
		height: var(--fs-sm);
		width: var(--fs-sm);
	}
	&.icon_md
	{
		height: var(--fs-md);
		width: var(--fs-md);
	}
	&.icon_lg
	{
		height: var(--fs-lg);
		width: var(--fs-lg);
	}
	&.icon_xl
	{
		height: var(--fs-xl);
		width: var(--fs-xl);
	}
	&.icon_2xl
	{
		height: calc(var(--fs-xl)*2);
		width: calc(var(--fs-xl)*2);
	}
	&.icon_3xl
	{
		height: calc(var(--fs-xl)*3);
		width: calc(var(--fs-xl)*3);
	}

	//	Color.
	&.primary
	{
		fill: var(--color-primary);

		&_light
		{
			fill: var(--color-primary-light);
		}
		&_dark
		{
			fill: var(--color-primary-dark);
		}
		&_text
		{
			fill: var(--color-primary-text);
		}
	}
	&.secondary
	{
		fill: var(--color-secondary);

		&_light
		{
			fill: var(--color-secondary-light);
		}
		&_dark
		{
			fill: var(--color-secondary-dark);
		}
		&_text
		{
			fill: var(--color-secondary-text);
		}
	}
	&.error
	{
		fill: var(--color-error);

		&_light
		{
			fill: var(--color-error-light);
		}
		&_dark
		{
			fill: var(--color-error-dark);
		}
		&_text
		{
			fill: var(--color-error-text);
		}
	}
	&.warn
	{
		fill: var(--color-warn);

		&_light
		{
			fill: var(--color-warn-light);
		}
		&_dark
		{
			fill: var(--color-warn-dark);
		}
		&_text
		{
			fill: var(--color-warn-text);
		}
	}
	&.info
	{
		fill: var(--color-info);

		&_light
		{
			fill: var(--color-info-light);
		}
		&_dark
		{
			fill: var(--color-info-dark);
		}
		&_text
		{
			fill: var(--color-info-text);
		}
	}
	&.success
	{
		fill: var(--color-success);

		&_light
		{
			fill: var(--color-success-light);
		}
		&_dark
		{
			fill: var(--color-success-dark);
		}
		&_text
		{
			fill: var(--color-success-text);
		}
	}
}


//------------------------------------------------------------------------------
//	Common panel.
//------------------------------------------------------------------------------
.ui_panel
{
	max-width: var(--panel-md);
	background-color: var(--color-panel);

	&.border
	{
		border: var(--border);
	}

	&.radius
	{
		border-radius: var(--radius-md);
	}

	&.shadow
	{
		box-shadow: var(--shadow);
	}

	&.transparent
	{
		background-color: transparent;
	}
}


//------------------------------------------------------------------------------
//	Common poup.
//------------------------------------------------------------------------------
.ui_popup
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 200ms;
	z-index: 999;

	&.show
	{
		visibility: visible;
		opacity: 1;
	}

	.content
	{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 80%;
		max-width: var(--panel-sm);
		max-height : calc(100% - var(--spacing-xl));
		padding: var(--spacing-md);
		border-radius: var(--radius-md);

		background-color: var(--color-panel);
		box-shadow: var(--shadow);

		.header
		{
			margin-bottom: var(--spacing-md);
			padding-bottom: var(--spacing-xs);
			border-bottom: var(--border);

			.title
			{
				font-size: var(--fs-lg);
				width: 100%;
			}
		}

		.body
		{
		}
	}
}


//------------------------------------------------------------------------------
//	Common input components.
//------------------------------------------------------------------------------
.ui_label
{
	color: var(--color-text-secondary);
}

.ui_text
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: var(--border);
	border-radius: var(--radius-sm);
	padding: var(--spacing-xs) var(--spacing-sm);
	color: var(--color-text-primary);

	&:read-only,
	&:disabled
	{
		background-color: var(--color-gray-100);
	}
}

.ui_select
{
	border: var(--border);
	padding: var(--spacing-xs) var(--spacing-sm);
	border-radius: var(--radius-sm);
	background-color: var(--color-panel);
	cursor: pointer;

	&:read-only,
	&:disabled
	{
		background-color: var(--color-gray-100);
	}
}

.ui_toggle
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	padding: 0;
	border-radius: 999px;
	overflow: hidden;
	cursor: pointer;
	background-color: var(--color-panel);
	box-shadow: var(--shadow-inset);
	vertical-align: middle;
	transition: all 0.2s ease;

	&::before
	{
		content: "";
		position: absolute;
		display: block;
		top: 2px;
		left: 2px;
		height: calc(100% - 4px);
		padding-left: calc(50% - 2px);
		border-radius: 999px;
		background-color: var(--color-panel);
		box-shadow: var(--shadow);
		transition: all 0.2s ease;
	}

	&:checked
	{
		background-color: var(--color-primary);

		&::before
		{
			transform: translateX(100%);
		}
	}
}


//------------------------------------------------------------------------------
//	Common loading indicator.
//------------------------------------------------------------------------------
.ui_loader
{
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;

	div
	{
		animation: anim_loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		transform-origin: 40px 40px;

		&:after
		{
			content: " ";
			display: block; 
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: var(--color-gray-600);
			margin: -4px 0 0 -4px;
		}
		&:nth-child(1)
		{
			animation-delay: -0.036s;

			&:after
			{
				top: 63px;
				left: 63px;
			}
		}
		&:nth-child(2)
		{
			animation-delay: -0.072s;

			&:after
			{
				top: 68px;
				left: 56px;
			}
		}
		&:nth-child(3)
		{
			animation-delay: -0.108s;

			&:after
			{
				top: 71px;
				left: 48px;
			}
		}
		&:nth-child(4)
		{
			animation-delay: -0.144s;

			&:after
			{
				top: 72px;
				left: 40px;
			}
		}
		&:nth-child(5)
		{
			animation-delay: -0.18s;

			&:after
			{
				top: 71px;
				left: 32px;
			}
		}
		&:nth-child(6)
		{
			animation-delay: -0.216s;

			&:after
			{
				top: 68px;
				left: 24px;
			}
		}
		&:nth-child(7)
		{
			animation-delay: -0.252s;

			&:after
			{
				top: 63px;
				left: 17px;
			}
		}
		&:nth-child(8)
		{
			animation-delay: -0.288s;

			&:after
			{
				top: 56px;
				left: 12px;
			}
		}
	} 
}

@keyframes anim_loading
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
