//------------------------------------------------------------------------------
//	Typography
//------------------------------------------------------------------------------

.fs_3xs
{
	font-size: var(--fs-3xs);
}

.fs_2xs
{
	font-size: var(--fs-2xs);
}

.fs_xs
{
	font-size: var(--fs-xs);
}

.fs_sm
{
	font-size: var(--fs-sm);
}

.fs_md
{
	font-size: var(--fs-md);
}

.fs_lg
{
	font-size: var(--fs-lg);
}

.fs_xl
{
	font-size: var(--fs-xl);
}

.fs_2xl
{
	font-size: var(--fs-2xl);
}

.fs_3xl
{
	font-size: var(--fs-3xl);
}

.fs_4xl
{
	font-size: var(--fs-4xl);
}

.fs_5xl
{
	font-size: var(--fs-5xl);
}


//------------------------------------------------------------------------------
//	Text align
//------------------------------------------------------------------------------

.text_align_left
{
	text-align: left;
}

.text_align_center
{
	text-align: center;
}

.text_align_right
{
	text-align: right;
}
