//------------------------------------------------------------------------------
//	UI select
//
//
//	# Usage
//
//	```html
//	<div class="ui_select">
//	 <select disabled>
//	  <option>Option 1</option>
//	  <option>Option 2</option>
//	  <option>Option 3</option>
//	 </select>
//	</div>
//	```
//------------------------------------------------------------------------------

.ui_select
{
	display: inline-block;
	border: 1px solid var(--color-border);
	border-radius: var(--radius-sm);
	cursor: pointer;
	position: relative;
	transition:
		color 0.2s 0s ease-in-out,
		border-color 0.2s 0s ease-in-out;

	select
	{
		padding: var(--spacing-sm) var(--spacing-4xl) var(--spacing-sm) var(--spacing-md);

		optgroup,
		option
		{
			color: var(--color-surface-text);
			background-color: var(--color-surface);

			&:disabled
			{
				color: var(--color-disabled-text);
				background-color: var(--color-disabled);
			}
		}
	}

	&:before
	{
		content: "";
		height: 100%;
		width: var(--size-xl);
		border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--color-filled);
		pointer-events: none;
	}

	&:after
	{
		content: "";
		mask-image: var(--icon-svg-caret-down);
		mask-size: contain;
		mask-position: center;
		mask-repeat: no-repeat;
		-webkit-mask-image: var(--icon-svg-caret-down);
		-webkit-mask-size: contain;
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		background-color: var(--color-background-text);
		height: var(--size-md);
		width: var(--size-xl);
		position: absolute;
		top: 50%;
		right: 0;
		pointer-events: none;
		transform: translateY(-50%);
		transition:
			background-color 0.2s 0s ease-in-out,
			transform 0.2s 0s ease-in-out;
	}


	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	&.small
	{
		select
		{
			padding: var(--spacing-xs) var(--spacing-3xl) var(--spacing-xs) var(--spacing-sm);
			font-size: var(--fs-sm);
		}

		&:before,
		&:after
		{
			width: var(--size-lg);
		}
	}

	&.large
	{
		select
		{
			padding: var(--spacing-md) var(--spacing-5xl) var(--spacing-md) var(--spacing-lg);
			font-size: var(--fs-lg);
		}

		&:before,
		&:after
		{
			width: var(--size-2xl);
		}
	}


	//--------------------------------------------------------------------------
	//	Styles
	//--------------------------------------------------------------------------

	&.standard
	{
		border: none;
		border-bottom: 1px solid var(--color-background-text);
		border-radius: 0;

		&:before
		{
			background-color: transparent;
		}
	}

	&.filled
	{
		border: none;
		border-bottom: 1px solid var(--color-background-text);
		border-radius: 0;
		background-color: var(--color-filled);
	}


	//--------------------------------------------------------------------------
	//	Errors
	//--------------------------------------------------------------------------

	&.is_error
	{
		border-color: var(--color-error);

		&:before
		{
			background-color: var(--color-error);
		}

		&:after
		{
			background-color: var(--color-error-text);
		}

		&.standard
		{
			&:before
			{
				background-color: transparent;
			}

			&:after
			{
				background-color: var(--color-error);
			}
		}

		&.filled
		{
			background-color: var(--color-error-light);
			color: var(--color-error-text);

			&:before
			{
				background-color: var(--color-error-light);
			}

			&:after
			{
				background-color: var(--color-error-dark);
			}
		}
	}


	//--------------------------------------------------------------------------
	//	States
	//--------------------------------------------------------------------------

	&:hover:not(:has(select:disabled))
	{
		border-color: var(--color-border-light);
	}

	&:has(select:focus):after
	{
		transform: translateY(-50%) rotate(-180deg);
	}

	&:has(select:disabled)
	{
		border-color: var(--color-disabled);
		color: var(--color-disabled-text);
		cursor: not-allowed;

		&:before
		{
			background-color: var(--color-disabled);
		}

		&:after
		{
			background-color: var(--color-disabled-text);
		}

		&.standard:before
		{
			background-color: transparent;
		}

		&.filled
		{
			background-color: var(--color-disabled);
		}
	}
}
