<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="/_assets/style.css" />
 </head>

 <body>
  <h1>Meower Signup</h1>
  <form method="POST">
   <input type="text" name="account_name" placeholder="Account Name">
   <input type="email" name="email" placeholder="Email">
   <input type="email" name="email_confirm" placeholder="Email (Confirm)">
   <input type="password" name="password">
   <input type="password" name="password_confirm">
   <button type="submit">Send</button>
  </form>
  <a href="/login">Login</a>

  {% for error in errors %}
   <div>{{ error }}</div>
  {% endfor %}
 </body>
</html>
