{% extends "common/base.html" %}

{% block content %}
 <h1 class="ui_heading">{{ i18n.get("entrance.forgot_password.heading") }}</h1>
 <div class="ui_panel sm shadow radius padding_xl margin_lg flex column align_center gap_md">
  <form method="POST" class="flex column align_center gap_md full_horizon">
   <label class="flex column gap_sm full_horizon">
    <span class="ui_label">{{ i18n.get("entrance.forgot_password.form.email.label") }}</span>
    <input type="email" name="email" placeholder="{{ i18n.get("entrance.forgot_password.form.email.placeholder") }}" value="{{ input.email }}" class="ui_text">
   </label>
   {% if errors.len() > 0 %}
    <div class="errors full_horizon">
     {% for error in errors %}
      <div>{{ error }}</div>
     {% endfor %}
    </div>
   {% endif %}
   <button type="submit" class="ui_button primary full_horizon">{{ i18n.get("entrance.forgot_password.form.button.send") }}</button>
  </form>
  <hr class="ui_panel border full_horizon">
  <a href="/auth/login" class="ui_button primary_light full_horizon">{{ i18n.get("entrance.forgot_password.button.login") }}</a>
 </div>

 {% match temporary_user_token %}
  {% when Some with (token) %}
   <div class="ui_popup show">
    <div class="content">
     <div class="header">
      <span class="title">{{ i18n.get("entrance.forgot_password.popup.temporary_user_token.title") }}</span>
     </div>
     <div class="body">
      {{ i18n.get("entrance.forgot_password.popup.temporary_user_token.body") }}
     </div>
     <div class="footer">
      <button class="ui_button primary_light button_close">{{ i18n.get("entrance.forgot_password.popup.temporary_user_token.button.close") }}</button>
      <a href="/auth/delete_temporary_user/{{ token }}" class="ui_button error">{{ i18n.get("entrance.forgot_password.popup.temporary_user_token.button.done") }}</a>
     </div>
    </div>
   </div>
  {% when None %}
 {% endmatch %}

 {% if deleted_temporary_user %}
  <div class="ui_popup show">
   <div class="content">
    <div class="header">
     <span class="title">{{ i18n.get("entrance.forgot_password.popup.deleted_temporary_user.title") }}</span>
    </div>
    <div class="body">
     {{ i18n.get("entrance.forgot_password.popup.deleted_temporary_user.body") }}
    </div>
    <div class="footer">
     <button class="ui_button primary_light button_close">{{ i18n.get("entrance.forgot_password.popup.deleted_temporary_user.button.close") }}</button>
    </div>
   </div>
  </div>
 {% endif %}
{% endblock %}
