{% extends "common/base.html" %}

{% block title %}{{ t!("pages.signup_success.title") }}{% endblock %}

{% block content %}
 <div class="flex_grow flex flex_column flex_align_center flex_justify_center padding_xl">
  <div class="min_width_10xl flex flex_column">
   <h1 class="ui_heading h1 text_align_center margin_bottom">{{ t!("pages.signup_success.heading") }}</h1>
   <div class="ui_box surface radius_md padding_xl flex flex_column flex_gap_xl">
    <p>{{ t!("pages.signup_success.next") }}</p>
    <a href="/auth/login" class="ui_button primary text_align_center">{{ t!("pages.signup_success.button.login") }}</a>
   </div>
  </div>
 </div>
{% endblock %}
