{% extends "common/base.html" %}

{% block title %}{{ t!("pages.reset_password.title") }}{% endblock %}

{% block content %}
 <div class="flex_grow flex flex_column flex_align_center flex_justify_center padding_xl">
  <div class="min_width_10xl flex flex_column">
   <h1 class="ui_heading h1 text_align_center margin_bottom">{{ t!("pages.reset_password.heading") }}</h1>
   <div class="ui_box surface radius_md padding_xl flex flex_column flex_gap_xl">
    <form method="POST" class="flex flex_column flex_gap_md">
     <label class="flex flex_column flex_gap_sm">
      <span>{{ t!("pages.reset_password.form.password.label") }}</span>
      <input type="password" name="password" class="ui_text_field">
      {% if input_error.password.is_some() %}
       <div class="ui_alert filled error">{{ input_error.password.as_ref().unwrap() }}</div>
      {% endif %}
     </label>
     <label class="flex flex_column flex_gap_sm">
      <span>{{ t!("pages.reset_password.form.password_confirm.label") }}</span>
      <input type="password" name="password_confirm" class="ui_text_field">
      {% if input_error.password_confirm.is_some() %}
       <div class="ui_alert filled error">{{ input_error.password_confirm.as_ref().unwrap() }}</div>
      {% endif %}
     </label>
     {% if input_error.other.is_some() %}
      <div class="ui_alert filled error">{{ input_error.other.as_ref().unwrap() }}</div>
     {% endif %}
     <button type="submit" class="ui_button primary text_align_center">{{ t!("pages.reset_password.form.button.submit") }}</button>
    </form>
   </div>
  </div>
 </div>
{% endblock %}
