//------------------------------------------------------------------------------
//	UI list
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../themes/index" as themes;

.ui_list
{
	list-style: disc;
	padding-left: var(--spacing-xl);

	li
	{
		padding: var(--spacing-xs) var(--spacing-sm);

		&.clickable
		{
			cursor: pointer;
			transition: all 0.3s 0s ease-in-out;

			&:hover
			{
				opacity: var(--opacity-hover);
			}
		}
	}

	ul
	{
		list-style: disc;
		padding-left: var(--spacing-xl);
	}

	ol
	{
		list-style: decimal;
		padding-left: var(--spacing-xl);
	}


	//--------------------------------------------------------------------------
	//	Styles
	//--------------------------------------------------------------------------

	&.ordered
	{
		list-style: decimal;
	}

	&.boxed
	{
		list-style: none;
		padding-left: 0;

		li
		{
			border: 1px solid var(--color-border);
			padding: var(--spacing-sm) var(--spacing-lg);

			&:not(:last-child)
			{
				border-bottom: none;
			}
		}

		ul,
		ol
		{
			list-style: none;
			padding-left: 0;

			li
			{
				padding-left: var(--spacing-2xl);
			}
		}

		ol,
		&.ordered
		{
			list-style: inside decimal;
		}
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in themes.$theme_colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name}
		{
			color: var(--color-#{$color});

			li.clickable:hover
			{
				opacity: 1;
				color: var(--color-#{$color}-dark);
			}

			&.boxed
			{
				background-color: var(--color-#{$color});
				color: var(--color-#{$color}-text);

				li
				{
					border-color: var(--color-#{$color}-dark);

					&.clickable:hover
					{
						background-color: var(--color-#{$color}-dark);
						color: var(--color-#{$color}-text);
					}
				}
			}
		}
	}
}
