//------------------------------------------------------------------------------
//	UI Box
//------------------------------------------------------------------------------

.ui_box
{
	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	//	Width
	&.width_full { width: 100%; }
	&.width_half { width: 50%; }
	&.width_5xs { width: var(--size-5xs); }
	&.width_4xs { width: var(--size-4xs); }
	&.width_3xs { width: var(--size-3xs); }
	&.width_2xs { width: var(--size-2xs); }
	&.width_xs { width: var(--size-xs); }
	&.width_sm { width: var(--size-sm); }
	&.width_md { width: var(--size-md); }
	&.width_lg { width: var(--size-lg); }
	&.width_xl { width: var(--size-xl); }
	&.width_2xl { width: var(--size-2xl); }
	&.width_3xl { width: var(--size-3xl); }
	&.width_4xl { width: var(--size-4xl); }
	&.width_5xl { width: var(--size-5xl); }

	//	Height
	&.height_full { height: 100%; }
	&.height_half { height: 50%; }
	&.height_5xs { height: var(--size-5xs); }
	&.height_4xs { height: var(--size-4xs); }
	&.height_3xs { height: var(--size-3xs); }
	&.height_2xs { height: var(--size-2xs); }
	&.height_xs { height: var(--size-xs); }
	&.height_sm { height: var(--size-sm); }
	&.height_md { height: var(--size-md); }
	&.height_lg { height: var(--size-lg); }
	&.height_xl { height: var(--size-xl); }
	&.height_2xl { height: var(--size-2xl); }
	&.height_3xl { height: var(--size-3xl); }
	&.height_4xl { height: var(--size-4xl); }
	&.height_5xl { height: var(--size-5xl); }

	//	Size
	&.size_full { width: 100%; height: 100%; }
	&.size_half { width: 50%; height: 50%; }
	&.size_5xs { width: var(--size-5xs); height: var(--size-5xs); }
	&.size_4xs { width: var(--size-4xs); height: var(--size-4xs); }
	&.size_3xs { width: var(--size-3xs); height: var(--size-3xs); }
	&.size_2xs { width: var(--size-2xs); height: var(--size-2xs); }
	&.size_xs { width: var(--size-xs); height: var(--size-xs); }
	&.size_sm { width: var(--size-sm); height: var(--size-sm); }
	&.size_md { width: var(--size-md); height: var(--size-md); }
	&.size_lg { width: var(--size-lg); height: var(--size-lg); }
	&.size_xl { width: var(--size-xl); height: var(--size-xl); }
	&.size_2xl { width: var(--size-2xl); height: var(--size-2xl); }
	&.size_3xl { width: var(--size-3xl); height: var(--size-3xl); }
	&.size_4xl { width: var(--size-4xl); height: var(--size-4xl); }
	&.size_5xl { width: var(--size-5xl); height: var(--size-5xl); }


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	//	Red
	&.red { background-color: var(--color-red); }
	&.red_lighten_5 { background-color: var(--color-red-lighten-5); }
	&.red_lighten_4 { background-color: var(--color-red-lighten-4); }
	&.red_lighten_3 { background-color: var(--color-red-lighten-3); }
	&.red_lighten_2 { background-color: var(--color-red-lighten-2); }
	&.red_lighten_1 { background-color: var(--color-red-lighten-1); }
	&.red_darken_1 { background-color: var(--color-red-darken-1); }
	&.red_darken_2 { background-color: var(--color-red-darken-2); }
	&.red_darken_3 { background-color: var(--color-red-darken-3); }
	&.red_darken_4 { background-color: var(--color-red-darken-4); }
	&.red_accent_1 { background-color: var(--color-red-accent-1); }
	&.red_accent_2 { background-color: var(--color-red-accent-2); }
	&.red_accent_3 { background-color: var(--color-red-accent-3); }
	&.red_accent_4 { background-color: var(--color-red-accent-4); }
}
