//------------------------------------------------------------------------------
//	Display
//------------------------------------------------------------------------------

@use "../functions/responsive" as responsive;

@include responsive.responsive("display")
{
	&_none
	{
		display: none !important;
	}

	&_inline
	{
		display: inline !important;
	}

	&_inline_block
	{
		display: inline-block !important;
	}

	&_block
	{
		display: block !important;
	}
}

@include responsive.responsive("hide")
{
	display: none !important;
}
