//------------------------------------------------------------------------------
//	Flex
//------------------------------------------------------------------------------

@use "../functions/responsive" as responsive;

@include responsive.responsive("flex")
{
	display: flex;

	//	Inline
	&_inline { display: inline-flex; }

	//	Direction
	&.flex_row { flex-direction: row; }
	&.flex_column { flex-direction: column; }
	&.flex_row_reverse { flex-direction: row-reverse; }
	&.flex_column_reverse { flex-direction: column-reverse; }

	//	Flex wrap
	&.flex_wrap { flex-wrap: wrap; }
	&.flex_nowrap { flex-wrap: nowrap; }
	&.flex_wrap_reverse { flex-wrap: wrap-reverse; }

	//	Justify content
	&.flex_justify_start { justify-content: flex-start; }
	&.flex_justify_end { justify-content: flex-end; }
	&.flex_justify_center { justify-content: center; }
	&.flex_justify_between { justify-content: space-between; }
	&.flex_justify_around { justify-content: space-around; }
	&.flex_justify_evenly { justify-content: space-evenly; }
	&.flex_justify_stretch { justify-content: stretch; }

	//	Align items
	&.flex_align_start { align-items: flex-start; }
	&.flex_align_end { align-items: flex-end; }
	&.flex_align_center { align-items: center; }
	&.flex_align_baseline { align-items: baseline; }
	&.flex_align_stretch { align-items: stretch; }

	//	Align content
	&.flex_content_start { align-content: flex-start; }
	&.flex_content_end { align-content: flex-end; }
	&.flex_content_center { align-content: center; }
	&.flex_content_between { align-content: space-between; }
	&.flex_content_around { align-content: space-around; }
	&.flex_content_baseline { align-content: baseline; }
	&.flex_content_evenly { align-content: space-evenly; }
	&.flex_content_stretch { align-content: stretch; }

	//	Gap
	&.flex_gap_3xs { gap: var(--spacing-3xs); }
	&.flex_gap_2xs { gap: var(--spacing-2xs); }
	&.flex_gap_xs { gap: var(--spacing-xs); }
	&.flex_gap_sm { gap: var(--spacing-sm); }
	&.flex_gap_md { gap: var(--spacing-md); }
	&.flex_gap_lg { gap: var(--spacing-lg); }
	&.flex_gap_xl { gap: var(--spacing-xl); }
	&.flex_gap_2xl { gap: var(--spacing-2xl); }
	&.flex_gap_3xl { gap: var(--spacing-3xl); }
	&.flex_gap_4xl { gap: var(--spacing-4xl); }
	&.flex_gap_5xl { gap: var(--spacing-5xl); }

	//	Align self
	> .flex_align_self_start { align-self: flex-start; }
	> .flex_align_self_end { align-self: flex-end; }
	> .flex_align_self_center { align-self: center; }
	> .flex_align_self_baseline { align-self: baseline; }
	> .flex_align_self_stretch { align-self: stretch; }

	//	Grow
	> .flex_no_grow { flex-grow: 0; }
	> .flex_grow { flex-grow: 1; }

	//	Shrink
	> .flex_no_shrink { flex-shrink: 0; }
	> .flex_shrink { flex-shrink: 1; }
}

@include responsive.responsive("flex_spacer")
{
	flex-grow: 1;
}
