//------------------------------------------------------------------------------
//	Other
//------------------------------------------------------------------------------

@use "../functions/responsive" as responsive;

@include responsive.responsive("clickable")
{
	cursor: pointer;

	&:hover
	{
		opacity: 0.8;
	}
}

@include responsive.responsive("text_overflow_ellipsis")
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@include responsive.responsive("object_fit_cover")
{
	object-fit: cover;
}
