//------------------------------------------------------------------------------
//	Overflow
//------------------------------------------------------------------------------

.scroll
{
	overflow: scroll;

	&_x { overflow-x: scroll; }
	&_y { overflow-y: scroll; }
}
