//------------------------------------------------------------------------------
//	Overflow
//------------------------------------------------------------------------------

@use "../functions/responsive" as responsive;

@include responsive.responsive("overflow")
{
	&_auto
	{
		overflow: auto;

		&_x { overflow-x: auto; }
		&_y { overflow-y: auto; }
	}

	&_scroll
	{
		overflow: scroll;

		&_x { overflow-x: scroll; }
		&_y { overflow-y: scroll; }
	}

	&_hidden
	{
		overflow: hidden;

		&_x { overflow-x: hidden; }
		&_y { overflow-y: hidden; }
	}
}
