//------------------------------------------------------------------------------
//	Size
//------------------------------------------------------------------------------

@use "../functions/string" as string;
@use "../variables/sizes" as sizes;

$size_prefixes: "min-", "", "max-";

//	Width
@each $prefix in $size_prefixes
{
	$class_prefix: string.str-replace(#{$prefix}, "-", "_");
	.#{$class_prefix}width
	{
		&_full { #{$prefix}width: 100% !important; }
		&_full_viewport { #{$prefix}width: 100vw !important; }
		&_half { #{$prefix}width: 50% !important; }
		&_half_viewport { #{$prefix}width: 50vw !important; }

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name}
			{
				#{$prefix}width: var(--size-#{$size}) !important;
			}
		}
	}
}

//	Height
@each $prefix in $size_prefixes
{
	$class_prefix: string.str-replace(#{$prefix}, "-", "_");
	.#{$class_prefix}height
	{
		&_full { #{$prefix}height: 100% !important; }
		&_full_viewport { #{$prefix}height: 100vh !important; }
		&_half { #{$prefix}height: 50% !important; }
		&_half_viewport { #{$prefix}height: 50vh !important; }

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name}
			{
				#{$prefix}height: var(--size-#{$size}) !important;
			}
		}
	}
}

//	Size
@each $prefix in $size_prefixes
{
	$class_prefix: string.str-replace(#{$prefix}, "-", "_");
	.#{$class_prefix}size
	{
		&_full
		{
			#{$prefix}width: 100% !important;
			#{$prefix}height: 100% !important;
		}
		&_full_viewport
		{
			#{$prefix}width: 100vw !important;
			#{$prefix}height: 100vh !important;
		}
		&_half
		{
			#{$prefix}width: 50% !important;
			#{$prefix}height: 50% !important;
		}
		&_half_viewport
		{
			#{$prefix}width: 50vw !important;
			#{$prefix}height: 50vh !important;
		}

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name}
			{
				#{$prefix}width: var(--size-#{$size}) !important;
				#{$prefix}height: var(--size-#{$size}) !important;
			}
		}
	}
}
