//------------------------------------------------------------------------------
//	Spacer
//------------------------------------------------------------------------------


@use "../functions/string" as string;
@use "../variables/spaces" as spaces;

//	Margin
.margin
{
	margin: var(--spacing-md);

	@each $space in spaces.$spaces
	{
		$class_name: string.str-replace(#{$space}, "-", "_");
		&_#{$class_name} { margin: var(--spacing-#{$space}); }
	}

	//	Top
	&_top
	{
		margin: var(--spacing-md) 0 0 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: var(--spacing-#{$space}) 0 0 0; }
		}
	}

	//	Right
	&_right
	{
		margin: 0 var(--spacing-md) 0 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: 0 var(--spacing-#{$space}) 0 0; }
		}
	}

	//	Bottom
	&_bottom
	{
		margin: 0 0 var(--spacing-md) 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: 0 0 var(--spacing-#{$space}) 0; }
		}
	}

	//	Left
	&_left
	{
		margin: 0 0 0 var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: 0 0 0 var(--spacing-#{$space}); }
		}
	}

	//	Vertical
	&_vertical
	{
		margin: var(--spacing-md) 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: var(--spacing-#{$space}) 0; }
		}
	}

	//	Horizontal
	&_horizontal
	{
		margin: 0 var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin: 0 var(--spacing-#{$space}); }
		}
	}
}

//	Padding
.padding
{
	padding: var(--spacing-md);

	@each $space in spaces.$spaces
	{
		$class_name: string.str-replace(#{$space}, "-", "_");
		&_#{$class_name} { padding: var(--spacing-#{$space}); }
	}

	//	Top
	&_top
	{
		padding: var(--spacing-md) 0 0 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: var(--spacing-#{$space}) 0 0 0; }
		}
	}

	//	Right
	&_right
	{
		padding: 0 var(--spacing-md) 0 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: 0 var(--spacing-#{$space}) 0 0; }
		}
	}

	//	Bottom
	&_bottom
	{
		padding: 0 0 var(--spacing-md) 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: 0 0 var(--spacing-#{$space}) 0; }
		}
	}

	//	Left
	&_left
	{
		padding: 0 0 0 var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: 0 0 0 var(--spacing-#{$space}); }
		}
	}

	//	Vertical
	&_vertical
	{
		padding: var(--spacing-md) 0;

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: var(--spacing-#{$space}) 0; }
		}
	}

	//	Horizontal
	&_horizontal
	{
		padding: 0 var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: 0 var(--spacing-#{$space}); }
		}
	}
}
