//------------------------------------------------------------------------------
//	Spacer
//------------------------------------------------------------------------------


@use "../functions/string" as string;
@use "../variables/spaces" as spaces;

//	Margin
.margin
{
	margin: var(--spacing-md);

	@each $space in spaces.$spaces
	{
		$class_name: string.str-replace(#{$space}, "-", "_");
		&_#{$class_name} { margin: var(--spacing-#{$space}); }
	}

	//	Top
	&_top
	{
		margin-top: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin-top: var(--spacing-#{$space}); }
		}
	}

	//	Right
	&_right
	{
		margin-right: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin-right: var(--spacing-#{$space}); }
		}
	}

	//	Bottom
	&_bottom
	{
		margin-bottom: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin-bottom: var(--spacing-#{$space}); }
		}
	}

	//	Left
	&_left
	{
		margin-left: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { margin-left: var(--spacing-#{$space}); }
		}
	}

	//	Vertical
	&_vertical
	{
		margin-top: var(--spacing-md);
		margin-bottom: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name}
			{
				margin-top: var(--spacing-#{$space});
				margin-bottom: var(--spacing-#{$space});
			}
		}
	}

	//	Horizontal
	&_horizontal
	{
		margin-left: var(--spacing-md);
		margin-right: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name}
			{
				margin-left: var(--spacing-#{$space});
				margin-right: var(--spacing-#{$space});
			}
		}
	}
}

//	Padding
.padding
{
	padding: var(--spacing-md);

	@each $space in spaces.$spaces
	{
		$class_name: string.str-replace(#{$space}, "-", "_");
		&_#{$class_name} { padding: var(--spacing-#{$space}); }
	}

	//	Top
	&_top
	{
		padding-top: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding-top: var(--spacing-#{$space}); }
		}
	}

	//	Right
	&_right
	{
		padding-right: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding-right: var(--spacing-#{$space}); }
		}
	}

	//	Bottom
	&_bottom
	{
		padding-bottom: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: var(--spacing-#{$space}); }
		}
	}

	//	Left
	&_left
	{
		padding-left: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name} { padding: var(--spacing-#{$space}); }
		}
	}

	//	Vertical
	&_vertical
	{
		padding-top: var(--spacing-md);
		padding-bottom: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name}
			{
				padding-top: var(--spacing-#{$space});
				padding-bottom: var(--spacing-#{$space});
			}
		}
	}

	//	Horizontal
	&_horizontal
	{
		padding-left: var(--spacing-md);
		padding-right: var(--spacing-md);

		@each $space in spaces.$spaces
		{
			$class_name: string.str-replace(#{$space}, "-", "_");
			&_#{$class_name}
			{
				padding-left: var(--spacing-#{$space});
				padding-right: var(--spacing-#{$space});
			}
		}
	}
}
