//------------------------------------------------------------------------------
//	Typography
//------------------------------------------------------------------------------

@use "../functions/responsive" as responsive;
@use "../functions/string" as string;
@use "../variables/colors" as colors;

@include responsive.responsive("fs")
{
	&_3xs { font-size: var(--fs-3xs); }
	&_2xs { font-size: var(--fs-2xs); }
	&_xs { font-size: var(--fs-xs); }
	&_sm { font-size: var(--fs-sm); }
	&_md { font-size: var(--fs-md); }
	&_lg { font-size: var(--fs-lg); }
	&_xl { font-size: var(--fs-xl); }
	&_2xl { font-size: var(--fs-2xl); }
	&_3xl { font-size: var(--fs-3xl); }
	&_4xl { font-size: var(--fs-4xl); }
	&_5xl { font-size: var(--fs-5xl); }
}


//------------------------------------------------------------------------------
//	Text align
//------------------------------------------------------------------------------

@include responsive.responsive("text_align")
{
	&_left { text-align: left; }
	&_center { text-align: center; }
	&_right { text-align: right; }
}


//------------------------------------------------------------------------------
//	Font weight
//------------------------------------------------------------------------------

@include responsive.responsive("text")
{
	&_thin { font-weight: 100; }
	&_extra_light { font-weight: 200; }
	&_light { font-weight: 300; }
	&_regular { font-weight: 400; }
	&_medium { font-weight: 500; }
	&_semi_bold { font-weight: 600; }
	&_bold { font-weight: 700; }
	&_extra_bold { font-weight: 800; }
	&_black { font-weight: 900; }
}


//------------------------------------------------------------------------------
//	Font weight
//------------------------------------------------------------------------------

@each $color in colors.$colors
{
	$class_name: string.str-replace(#{$color}, "-", "_");
	@include responsive.responsive("color_#{$class_name}")
	{
		color: var(--color-#{$color});
	}
}
