//------------------------------------------------------------------------------
//	Typography
//------------------------------------------------------------------------------

.fs_3xs
{
	font-size: var(--fs-3xs);
}

.fs_2xs
{
	font-size: var(--fs-2xs);
}

.fs_xs
{
	font-size: var(--fs-xs);
}

.fs_sm
{
	font-size: var(--fs-sm);
}

.fs_md
{
	font-size: var(--fs-md);
}

.fs_lg
{
	font-size: var(--fs-lg);
}

.fs_xl
{
	font-size: var(--fs-xl);
}

.fs_2xl
{
	font-size: var(--fs-2xl);
}

.fs_3xl
{
	font-size: var(--fs-3xl);
}

.fs_4xl
{
	font-size: var(--fs-4xl);
}

.fs_5xl
{
	font-size: var(--fs-5xl);
}


//------------------------------------------------------------------------------
//	Text align
//------------------------------------------------------------------------------

.text_align_left
{
	text-align: left;
}

.text_align_center
{
	text-align: center;
}

.text_align_right
{
	text-align: right;
}


//------------------------------------------------------------------------------
//	Font weight
//------------------------------------------------------------------------------

.text_thin
{
	font-weight: 100;
}

.text_extra_light
{
	font-weight: 200;
}

.text_light
{
	font-weight: 300;
}

.text_regular
{
	font-weight: 400;
}

.text_medium
{
	font-weight: 500;
}

.text_semi_bold
{
	font-weight: 600;
}

.text_bold
{
	font-weight: 700;
}

.text_extra_bold
{
	font-weight: 800;
}

.text_black
{
	font-weight: 900;
}
