//------------------------------------------------------------------------------
//	UI pagination
//
//
//	# Usage
//
//	```html
//	<div class="ui_pagination">
//	 <button class="page_first" disabled></button>
//	 <button class="page_prev" disabled></button>
//	 <button class="page_no page_now">1</button>
//	 <button class="page_no">2</button>
//	 <button class="page_no">3</button>
//	 <div class="page_ellipsis"></div>
//	 <button class="page_no">10</button>
//	 <button class="page_next"></button>
//	 <button class="page_last"></button>
//	</div>
//	```
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../variables/colors" as colors;

.ui_pagination
{
	display: flex;
	flex-direction: row;
	gap: var(--spacing-md);

	.page_first,
	.page_last,
	.page_prev,
	.page_next,
	.page_no,
	.page_ellipsis
	{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: var(--radius-circle);
		width: var(--size-xl);
		height: var(--size-xl);
	}

	.page_first,
	.page_last,
	.page_prev,
	.page_next,
	.page_no
	{
		cursor: pointer;

		&:not(:disabled):hover
		{
			background-color: var(--color-filled-light);
			color: var(--color-filled-text);

			&:before
			{
				background-color: var(--color-filled-text);
			}
		}

		&.page_now
		{
			background-color: var(--color-filled);
			color: var(--color-filled-text);
		}

		&:disabled
		{
			cursor: default;
			color: var(--color-disabled-text);
		}
	}

	.page_first:before,
	.page_last:before,
	.page_prev:before,
	.page_next:before,
	.page_ellipsis:before
	{
		content: "";
		display: inline-block;
		width: var(--size-md);
		height: var(--size-md);
		mask-size: contain;
		mask-position: center;
		mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		background-color: var(--color-background-text);
	}

	.page_first:before
	{
		mask-image: var(--icon-svg-angles-left);
		-webkit-mask-image: var(--icon-svg-angles-left);
	}

	.page_last:before
	{
		mask-image: var(--icon-svg-angles-right);
		-webkit-mask-image: var(--icon-svg-angles-right);
	}

	.page_prev:before
	{
		mask-image: var(--icon-svg-angle-left);
		-webkit-mask-image: var(--icon-svg-angle-left);
	}

	.page_next:before
	{
		mask-image: var(--icon-svg-angle-right);
		-webkit-mask-image: var(--icon-svg-angle-right);
	}

	.page_ellipsis:before
	{
		mask-image: var(--icon-svg-ellipsis);
		-webkit-mask-image: var(--icon-svg-ellipsis);
	}


	//--------------------------------------------------------------------------
	//	Styles
	//--------------------------------------------------------------------------

	&.rounded
	{
		.page_first,
		.page_last,
		.page_prev,
		.page_next,
		.page_no,
		.page_ellipsis
		{
			border-radius: var(--radius-sm);
		}
	}

	&.outlined
	{
		.page_first,
		.page_last,
		.page_prev,
		.page_next,
		.page_no
		{
			color: var(--color-filled-text);
			background-color: var(--color-filled);
			border: 1px solid var(--color-filled-dark);

			&:not(:disabled):hover
			{
				background-color: var(--color-filled-light);
				color: var(--color-filled-text);
			}

			&.page_now
			{
				background-color: var(--color-filled-dark);
				color: var(--color-filled-text);
			}

			&:disabled
			{
				color: var(--color-disabled-text);
				background-color: var(--color-disabled);

				&:before
				{
					background-color: var(--color-disabled-text);
				}
			}
		}

		.page_first:before,
		.page_last:before,
		.page_prev:before,
		.page_next:before
		{
			background-color: var(--color-filled-text);
		}
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$colors
	{
		$class_name: string.str-replace($color, "-", "_");
		&.#{$class_name}
		{
			.page_first,
			.page_last,
			.page_prev,
			.page_next,
			.page_no
			{
				&:not(:disabled):hover
				{
					background-color: var(--color-#{$color});
					color: var(--color-#{$color}-text);

					&:before
					{
						background-color: var(--color-#{$color}-text);
					}
				}

				&.page_now
				{
					background-color: var(--color-#{$color}-dark);
					color: var(--color-#{$color}-text);
				}

				&:disabled
				{
					background-color: transparent;
				}
			}

			&.outlined
			{
				.page_first,
				.page_last,
				.page_prev,
				.page_next,
				.page_no
				{
					color: var(--color-#{$color}-text);
					background-color: var(--color-#{$color});
					border-color: var(--color-#{$color}-dark);

					&:not(:disabled):hover
					{
						background-color: var(--color-#{$color}-light);
						color: var(--color-#{$color}-text);
					}

					&.page_now
					{
						background-color: var(--color-#{$color}-dark);
						color: var(--color-#{$color}-text);
					}

					&:disabled
					{
						color: var(--color-disabled-text);
						background-color: var(--color-disabled);

						&:before
						{
							background-color: var(--color-disabled-text);
						}
					}
				}

				.page_first:before,
				.page_last:before,
				.page_prev:before,
				.page_next:before
				{
					background-color: var(--color-#{$color}-text);
				}
			}
		}
	}
}
