//------------------------------------------------------------------------------
//	UI tab
//
//
//	# Usage
//
//	```html
//	<div class="ui_tab">
//	 <button class="tab active">Tab1</button>
//	 <button class="tab">Tab2</button>
//	 <button class="tab" disabled>Tab3</button>
//	 <button class="tab">Tab4</button>
//	</div>
//	```
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../variables/colors" as colors;

.ui_tab
{
	display: flex;

	.tab
	{
		cursor: pointer;
		padding: var(--spacing-md) var(--spacing-lg);
		border-bottom: 3px solid transparent;
		border-color: transparent;
		transition: all 0.3s 0s ease-in-out;

		&:hover:not(:disabled)
		{
			background-color: var(--color-filled-light);
		}

		&:disabled
		{
			color: var(--color-disabled-text);
			cursor: default;
		}

		&.active
		{
			border-color: var(--color-filled);
			color: var(--color-filled);
		}
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$colors
	{
		$class_name: string.str-replace($color, "-", "_");
		&.#{$class_name}
		{
			.tab
			{
				&:hover:not(:disabled)
				{
					background-color: var(--color-#{$color}-light);
				}

				&.active
				{
					border-color: var(--color-#{$color});
					color: var(--color-#{$color});
				}
			}
		}
	}


	//--------------------------------------------------------------------------
	//	Vertical
	//--------------------------------------------------------------------------

	&.vertical
	{
		flex-direction: column;

		.tab
		{
			border-bottom: none;
			border-right-width: 3px;
			border-right-style: solid;
		}
	}
}
