//------------------------------------------------------------------------------
//	Common fonts
//------------------------------------------------------------------------------

$font_sizes: 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl, 4xl, 5xl;

:root
{
	//	Font sizes
	--fs-3xs: 8px;
	--fs-2xs: 10px;
	--fs-xs: 12px;
	--fs-sm: 14px;
	--fs-md: 16px;
	--fs-lg: 18px;
	--fs-xl: 20px;
	--fs-2xl: 24px;
	--fs-3xl: 28px;
	--fs-4xl: 32px;
	--fs-5xl: 36px;
}
