//------------------------------------------------------------------------------
//	Common opacities
//------------------------------------------------------------------------------

$opacities: none, hover, full;

:root
{
	--opacity-none: 1;
	--opacity-hover: 0.7;
	--opacity-full: 0;
}
