//------------------------------------------------------------------------------
//	Common opacities
//------------------------------------------------------------------------------

:root
{
	--opacity-0: 0;
	--opacity-hover: 0.7;
	--opacity-100: 1;
}
