//------------------------------------------------------------------------------
//	Common sizes
//------------------------------------------------------------------------------

:root
{
	--size-5xs: 1px;
	--size-4xs: 2px;
	--size-3xs: 4px;
	--size-2xs: 6px;
	--size-xs: 8px;
	--size-sm: 16px;
	--size-md: 20px;
	--size-lg: 24px;
	--size-xl: 32px;
	--size-2xl: 48px;
	--size-3xl: 56px;
	--size-4xl: 64px;
	--size-5xl: 72px;
	--size-6xl: 80px;
	--size-7xl: 160px;
	--size-8xl: 320px;
}
