//------------------------------------------------------------------------------
//	Common sizes
//------------------------------------------------------------------------------

$sizes: "zero", "5xs", "4xs", "3xs", "2xs", "xs", "sm", "md", "lg", "xl", "2xl", "3xl", "4xl", "5xl", "6xl", "7xl", "8xl", "9xl", "10xl", "breakpoint-xs", "breakpoint-sm", "breakpoint-md", "breakpoint-lg", "breakpoint-xl";

:root
{
	--size-zero: 0;
	--size-5xs: 1px;
	--size-4xs: 2px;
	--size-3xs: 4px;
	--size-2xs: 6px;
	--size-xs: 8px;
	--size-sm: 16px;
	--size-md: 20px;
	--size-lg: 24px;
	--size-xl: 32px;
	--size-2xl: 48px;
	--size-3xl: 56px;
	--size-4xl: 64px;
	--size-5xl: 72px;
	--size-6xl: 80px;
	--size-7xl: 160px;
	--size-8xl: 320px;
	--size-9xl: 460px;
	--size-10xl: 640px;
	--size-breakpoint-xs: 0;
	--size-breakpoint-sm: 600px;
	--size-breakpoint-md: 900px;
	--size-breakpoint-lg: 1200px;
	--size-breakpoint-xl: 1536px;
}
