//------------------------------------------------------------------------------
//	Common Sizes
//
//
//	# Used by
//
//	- component/box.scss
//------------------------------------------------------------------------------

:root
{
	--size-5xs: 1px;
	--size-4xs: 2px;
	--size-3xs: 4px;
	--size-2xs: 6px;
	--size-xs: 8px;
	--size-sm: 16px;
	--size-md: 24px;
	--size-lg: 32px;
	--size-xl: 48px;
	--size-2xl: 56px;
	--size-3xl: 64px;
	--size-4xl: 72px;
	--size-5xl: 80px;
	--size-6xl: 160px;
	--size-7xl: 320px;
	--size-8xl: 480px;
}
