//------------------------------------------------------------------------------
//	Common spaces
//------------------------------------------------------------------------------

:root
{
	--spacing-3xs: 1px;
	--spacing-2xs: 2px;
	--spacing-xs: 4px;
	--spacing-sm: 6px;
	--spacing-md: 8px;
	--spacing-lg: 12px;
	--spacing-xl: 18px;
	--spacing-2xl: 24px;
	--spacing-3xl: 36px;
	--spacing-4xl: 48px;
	--spacing-5xl: 72px;
}
