//------------------------------------------------------------------------------
//	Common z indices
//------------------------------------------------------------------------------

:root
{
	--z-index-background: 0;
	--z-index-default: 1;
	--z-index-backdrop: 99;
	--z-index-dialog: 100;
}
