//------------------------------------------------------------------------------
//	Common z indexes
//------------------------------------------------------------------------------

$z_indexes: "background", "default", "backdrop", "dialog", "snackbar", "front";

:root
{
	--z-index-background: 0;
	--z-index-default: 1;
	--z-index-backdrop: 99;
	--z-index-dialog: 100;
	--z-index-snackbar: 200;
	--z-index-front: 999;
}
