@import "reset";
@import "theme";
@import "common";
@import "ui";

//	Fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto+Mono&family=Rubik&display=swap');


//------------------------------------------------------------------------------
//	Page base.
//------------------------------------------------------------------------------
html
{
	height: 100%;
}

a
{
	color: var(--color-info);
}

body
{
	font-family: 'Rubik', 'Noto Sans JP', sans-serif;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


//------------------------------------------------------------------------------
//	Main contents.
//------------------------------------------------------------------------------
.wrapper
{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-bg);
	font-size: var(--fs-md);
	color: var(--color-text-primary);
}


//------------------------------------------------------------------------------
//	Common header.
//------------------------------------------------------------------------------
.header
{
}


//------------------------------------------------------------------------------
//	Common footer.
//------------------------------------------------------------------------------
.footer
{
}


//------------------------------------------------------------------------------
//	Error.
//------------------------------------------------------------------------------
.errors
{
	color: var(--color-error);
	border: 1px solid var(--color-error);
	border-radius: var(--radius-sm);
	padding: var(--spacing-xs) var(--spacing-sm);
	background-color: var(--color-error-light);
}
