//------------------------------------------------------------------------------
//	UI box
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../themes/index" as themes;
@use "../../variables/colors" as colors;
@use "../../variables/radii" as radii;
@use "../../variables/sizes" as sizes;

.ui_box
{
	//--------------------------------------------------------------------------
	//	Sizes
	//--------------------------------------------------------------------------

	//	Width
	&.width
	{
		&_full { width: 100%; }
		&_full_viewport { width: 100vw; }
		&_half { width: 50%; }
		&_half_viewport { width: 50vw; }

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name} { width: var(--size-#{$size}); }
		}
	}

	//	Height
	&.height
	{
		&_full { height: 100%; }
		&_full_viewport { height: 100vh; }
		&_half { height: 50%; }
		&_half_viewport { height: 50vh; }

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name} { height: var(--size-#{$size}); }
		}
	}

	//	Size
	.size
	{
		&_full { width: 100%; height: 100%; }
		&_full_viewport { width: 100vw; height: 100vh; }
		&_half { width: 50%; height: 50%; }
		&_half_viewport { width: 50vw; height: 50vh; }

		@each $size in sizes.$sizes
		{
			$class_name: string.str-replace(#{$size}, "-", "_");
			&_#{$class_name}
			{
				width: var(--size-#{$size});
				height: var(--size-#{$size});
			}
		}
	}


	//--------------------------------------------------------------------------
	//	Center
	//--------------------------------------------------------------------------

	&.center
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}


	//--------------------------------------------------------------------------
	//	Background colors
	//--------------------------------------------------------------------------

	@each $color in colors.$general_colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name} { background-color: var(--color-#{$color}); }
	}

	@each $color in colors.$colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name}
		{
			background-color: var(--color-#{$color});

			&_lighten_5 { background-color: var(--color-#{$color}-lighten-5); }
			&_lighten_4 { background-color: var(--color-#{$color}-lighten-4); }
			&_lighten_3 { background-color: var(--color-#{$color}-lighten-3); }
			&_lighten_2 { background-color: var(--color-#{$color}-lighten-2); }
			&_lighten_1 { background-color: var(--color-#{$color}-lighten-1); }
			&_darken_1 { background-color: var(--color-#{$color}-darken-1); }
			&_darken_2 { background-color: var(--color-#{$color}-darken-2); }
			&_darken_3 { background-color: var(--color-#{$color}-darken-3); }
			&_darken_4 { background-color: var(--color-#{$color}-darken-4); }
			&_accent_1 { background-color: var(--color-#{$color}-accent-1); }
			&_accent_2 { background-color: var(--color-#{$color}-accent-2); }
			&_accent_3 { background-color: var(--color-#{$color}-accent-3); }
			&_accent_4 { background-color: var(--color-#{$color}-accent-4); }
		}
	}


	//--------------------------------------------------------------------------
	//	Text colors
	//--------------------------------------------------------------------------

	//	General
	&.text
	{
		@each $color in colors.$general_colors
		{
			$class_name: string.str-replace(#{$color}, "-", "_");
			&_#{$class_name} { color: var(--color-#{$color}); }
		}

		@each $color in colors.$colors
		{
			$class_name: string.str-replace(#{$color}, "-", "_");
			&_#{$class_name}
			{
				color: var(--color-#{$color});

				&_lighten_5 { color: var(--color-#{$color}-lighten-5); }
				&_lighten_4 { color: var(--color-#{$color}-lighten-4); }
				&_lighten_3 { color: var(--color-#{$color}-lighten-3); }
				&_lighten_2 { color: var(--color-#{$color}-lighten-2); }
				&_lighten_1 { color: var(--color-#{$color}-lighten-1); }
				&_darken_1 { color: var(--color-#{$color}-darken-1); }
				&_darken_2 { color: var(--color-#{$color}-darken-2); }
				&_darken_3 { color: var(--color-#{$color}-darken-3); }
				&_darken_4 { color: var(--color-#{$color}-darken-4); }
				&_accent_1 { color: var(--color-#{$color}-accent-1); }
				&_accent_2 { color: var(--color-#{$color}-accent-2); }
				&_accent_3 { color: var(--color-#{$color}-accent-3); }
				&_accent_4 { color: var(--color-#{$color}-accent-4); }
			}
		}
	}


	//--------------------------------------------------------------------------
	//	Theme colors
	//--------------------------------------------------------------------------

	//	Background
	&.background
	{
		background-color: var(--color-background);
		color: var(--color-background-text);
	}

	//	Surface
	&.surface
	{
		background-color: var(--color-surface);
		color: var(--color-surface-text);
	}

	@each $color in themes.$theme_colors
	{
		&.#{$color}
		{
			background-color: var(--color-#{$color});
			color: var(--color-#{$color}-text);

			&_light
			{
				background-color: var(--color-#{$color}-light);
				color: var(--color-#{$color}-text);
			}
			&_dark
			{
				background-color: var(--color-#{$color}-dark);
				color: var(--color-#{$color}-text);
			}
		}
	}


	//--------------------------------------------------------------------------
	//	Radus
	//--------------------------------------------------------------------------

	&.radius
	{
		border-radius: var(--radius-md);

		@each $radius in radii.$radii
		{
			$class_name: string.str-replace(#{$radius}, "-", "_");
			&_#{$class_name} { border-radius: var(--radius-#{$radius}); }
		}
	}
}
