//------------------------------------------------------------------------------
//	UI box
//------------------------------------------------------------------------------

@use "sass:string" as sass_string;
@use "../../functions/string" as string;
@use "../../variables/colors" as colors;
@use "../../variables/radii" as radii;
@use "../../variables/shadows" as shadows;

.ui_box
{
	//--------------------------------------------------------------------------
	//	Center
	//--------------------------------------------------------------------------

	&.center
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------

	@each $color in colors.$colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");

		@if string.starts-with($color, "border") == false and
			string.starts-with($color, "shadow") == false
		{
			&.#{$class_name}
			{
				background-color: var(--color-#{$color});
			}

			&.text_#{$class_name}
			{
				color: var(--color-#{$color});
			}
		}
	}

	&.border
	{
		border: 1px solid var(--color-border);

		@each $color in colors.$colors
		{
			$class_name: string.str-replace(#{$color}, "-", "_");
			&_#{$class_name}
			{
				border-color: var(--color-#{$color});
			}
		}

		&_top { border-top: 1px solid var(--color-border); }
		&_right { border-right: 1px solid var(--color-border); }
		&_bottom { border-bottom: 1px solid var(--color-border); }
		&_left { border-left: 1px solid var(--color-border); }
	}


	//--------------------------------------------------------------------------
	//	Radus
	//--------------------------------------------------------------------------

	&.radius
	{
		border-radius: var(--radius-md);

		@each $radius in radii.$radii
		{
			$class_name: string.str-replace(#{$radius}, "-", "_");
			&_#{$class_name} { border-radius: var(--radius-#{$radius}); }
		}
	}


	//--------------------------------------------------------------------------
	//	Shadow
	//--------------------------------------------------------------------------

	&.shadow
	{
		@each $shadow in shadows.$shadows
		{
			$class_name: string.str-replace(#{$shadow}, "-", "_");
			&_#{$class_name} { box-shadow: var(--shadow-#{$shadow}); }
		}
	}
}
