//------------------------------------------------------------------------------
//	UI sidebar
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../variables/colors" as colors;

.ui_sidebar
{
	display: flex;
	height: auto;
	padding: var(--spacing-md);
	background-color: var(--color-surface);
	color: var(--color-surface-text);
	align-items: flex-start;

	.ui_sidebar_inner
	{
		position: sticky;
		top: var(--spacing-md);
		max-height: calc(100vh - var(--spacing-md) * 2);
	}


	//--------------------------------------------------------------------------
	//	Colors
	//--------------------------------------------------------------------------
	@each $color in colors.$colors
	{
		$class_name: string.str-replace(#{$color}, "-", "_");
		&.#{$class_name}
		{
			background-color: var(--color-#{$color});
		}
	}
}
