//------------------------------------------------------------------------------
//	UI heading
//
//
//	# Usage
//
//	```html
//	<h1 class="ui_heading h1">Heading 1</h1>
//	```
//------------------------------------------------------------------------------

@use "../../functions/string" as string;
@use "../../themes/index" as themes;

.ui_heading
{
	display: inline-block;
	font-size: var(--fs-md);

	&.h1
	{
		font-size: var(--fs-3xl);
	}

	&.h2
	{
		font-size: var(--fs-2xl);
	}

	&.h3
	{
		font-size: var(--fs-xl);
	}

	&.h4
	{
		font-size: var(--fs-lg);
	}

	&.h5
	{
		font-size: var(--fs-md);
	}

	&.h6
	{
		font-size: var(--fs-md);
	}


	//--------------------------------------------------------------------------
	//	Styles
	//--------------------------------------------------------------------------

	&.divider
	{
		width: 100%;
		padding-bottom: var(--spacing-sm);
		border-bottom: 2px solid var(--color-border);

		&.thin
		{
			border-width: 1px;
		}

		&.thick
		{
			border-width: 3px;
		}

		@each $color in themes.$theme_colors
		{
			$class_name: string.str-replace(#{$color}, "-", "_");
			&.#{$class_name}
			{
				border-color: var(--color-#{$color});
			}
		}
	}

	&.bullet
	{
		border-left: 6px solid var(--color-border);
		padding-left: var(--spacing-md);

		&.thin
		{
			border-width: 4px;
		}

		&.thick
		{
			border-width: 8px;
		}

		@each $color in themes.$theme_colors
		{
			$class_name: string.str-replace(#{$color}, "-", "_");
			&.#{$class_name}
			{
				border-color: var(--color-#{$color});
			}
		}
	}

	&.line
	{
	}

	&.background
	{
	}
}
